.Screen {
    height: 50%;
    width: 100%;
    background-image: url("../imgs/controller.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  cover;
    display: block;
}

.Screen img {
    margin-top: 10%;
    margin-left: 10%;
}