.NumbersFromTo {
    width: 100%;
}

.NumbersFromTo input {
    width: 45%;
    min-height: 30px;
    color: #f3e9e9;
    line-height: 30px;
    background-color: #262323;
    border: 1px solid;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    font-size: 1em;
    padding: 2px;
    padding-left: 5px;
    text-indent: 8px;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.firstNumber{
    margin-right: 2%;
}