.OneResultVideo {
    width: 46%;
    height: auto;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    margin-left: 2.5%;
    z-index: 0;
    position: relative;
    display: inline-block;
}
.VideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
}
.card-header {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.card-header:hover {
    background-color: rgba(0, 0, 0, 0.65);
    background-image: url("../imgs/cover-video.png");
    background-size: cover;
}
