.StreamerGames {
    width: 100%;
    height: auto;
    background-color: #262323;
    color: #f3e9e9;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.StreamerGames ul {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.StreamerGames ul li {
    display: inline-block;
    margin-right: 2%;
    width: 18%;
    transition: all 1s;
}

.StreamerGames ul li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: default;
}

.StreamerGames ul li:hover img{
    outline: 5px solid #59f552;
}

.StreamerGames ul li:hover .name{
    font-size: 110%;
    color: #59f552;
}

.StreamerGames .GamePart {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.StreamerGames .name {
    margin-top: 10px;
    transition: all 0.5s;
}

.StreamerGames .GamePart img {
    width: 100%;
    height: auto;
    transition: all 0.5s;
}