.ZoomVideo {
    width: 100%;
    height: auto;
    display: flex;
}

.ZoomVideo .VideoContainer {
    width: 75%;
    flex: 3;
}
.ZoomVideo .ZoomVideoIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ZoomVideo .VideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
}

.ZoomVideo .ChatContainer {
    width: 25%;
    flex: 1;
}

.ZoomVideo .ZoomChatIframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}

